.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  column-gap: 28px;
  padding: 16px 28px;
  background: #111;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 40px;
}

.menu {
  display: flex;
  gap: 44px;
  align-items: center;
  justify-self: center;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}